@use '../../../index.scss' as *;

$pointer-cursor: '../../../images/cursor/pointer.png';

.start-icon {
  width: 20px;
  height: 20px;
  cursor: url($pointer-cursor), pointer;
}

.start-text {
  padding-left: 8px;
  cursor: url($pointer-cursor), pointer;
}


@media (max-width: get-breakpoint('sm')) {
  .start-text {
    display: none;
  }
}