@use '../../../index.scss' as *;

.language-button {
  background-color: $base-gray-3;
  color: black;
  border: 2px solid $base-gray-3;
  padding: 2px 8px;
  cursor: url('../../../images/cursor/pointer.png'), pointer;
  text-shadow: 1px 1px $white;
}

.language-dropdown {
  position: absolute;
  right: 0;
  background-color: $base-gray-3;
  border: 2px solid $base-gray-3;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 60px;
  bottom: 100%;

  li {
    padding: 4px 8px;
    font-size: 12px;
    cursor: url('../../../images/cursor/pointer.png'), pointer;
    text-align: center;
    border-bottom: 1px solid $base-gray-3;

    &:last-child {
      border-bottom: none;
    }
  }
}
